<nav class="mb-5">
    <ol class="breadcrumb bg-light p-2 mt-2">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/entries">Lançamentos</a></li>
        <li class="breadcrumb-item active">{{pageTitle}}</li>
    </ol>
</nav>

<div class="row mb-4">
    <div class="col-md-10">
        <h1 class="h2 border-left pl-2">
            {{pageTitle}}
        </h1>
    </div>
    <div class="col-md-2">
        <a routerLink="/entries" class="btn btn-light float-rigth">
            << Voltar </a>
    </div>
</div>

<form [formGroup]="form">
    <div class="card">
        <div class="card-header">
            Informações sobre o Lançamento
        </div>

        <div class="card-body">
            <div class="row form-row">
                <!--Tipo-->
                <div class="form-group col-sm-2 mb-2">
                    <label for="type">* Tipo</label>
                    <select formControlName="type" class="form-control">
                        @for (item of typeOptions; track $index) {
                        <option [value]="item.value">{{item.text}}</option>
                        }
                    </select>

                    @if (form.get('type')?.invalid && form.get('type')?.touched) {
                    <div class="text-danger">
                        @if ( form.get('type')?.errors?.['required']) {
                        <p>*Dado obrigatório.</p>
                        }
                    </div>
                    }
                </div>
                <!--Nome-->
                <div class="form-group col-sm-5 mb-2">
                    <label for="name">* Lançamento</label>
                    <input formControlName="name" type="text" class="form-control">

                    @if (form.get('name')?.invalid && form.get('name')?.touched) {
                    <div class="text-danger">
                        @if ( form.get('name')?.errors?.['required']) {
                        <p>*Dado obrigatório.</p>
                        }
                        @if (form.get('name')?.errors?.['minlength']) {
                        <p>*Deve ter no minimo 2 caractere.</p>
                        }
                    </div>
                    }
                </div>

                <!--amount-->
                <div class="form-group col-sm-3 mb-2">
                    <label for="amount">* Valor</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                R$
                            </div>
                        </div>
                        <input [imask]="imaskConfig" type="text" class="text-right form-control"
                            formControlName="amount">
                    </div>

                    @if (form.get('amount')?.invalid && form.get('amount')?.touched) {
                    <div class="text-danger">
                        @if ( form.get('amount')?.errors?.['required']) {
                        <p>*Dado obrigatório.</p>
                        }
                    </div>
                    }
                </div>

                <!--date-->
                <div class="form-group col-sm-2 mb-2">
                    <label for="date">Data</label>
                    <p-calendar inputStyleClass="form-control" formControlName="date" dataType="string"
                        dateFormat="dd/mm/yy" [showButtonBar]="true" [showIcon]="true"></p-calendar>

                    @if (form.get('date')?.invalid && form.get('date')?.touched) {
                    <div class="text-danger">
                        @if ( form.get('date')?.errors?.['required']) {
                        <p>*Dado obrigatório.</p>
                        }
                    </div>
                    }
                </div>
            </div>
            <div class="row form-row">
                <!--Tipo-->
                <div class="form-group col-sm-2 mb-2">
                    <label for="paid">* Pago</label>
                    <div class="btn-group">
                        <label (click)="form.get('paid')?.setValue(true)"
                            [class.active]="form.get('paid')?.value ===true" for="true" class="btn btn-outline-info">
                            Pago
                        </label>
                        <label (click)="form.get('paid')?.setValue(false)"
                            [class.active]="form.get('paid')?.value ===false" for="false" class="btn btn-outline-info">
                            Pendente
                        </label>
                    </div>
                    @if (form.get('paid')?.invalid && form.get('paid')?.touched) {
                    <div class="text-danger">
                        @if ( form.get('paid')?.errors?.['required']) {
                        <p>*Dado obrigatório.</p>
                        }
                    </div>
                    }
                </div>

                <!--Categoria-->
                <div class="form-group col-sm-3 mb-2">
                    <label for="categoryid">* Categoria</label>
                    <select formControlName="categoryid" class="form-control">
                        @for (item of categories; track $index) {
                        <option [value]="item?.id">{{item?.name}}</option>
                        }
                    </select>

                    @if (form.get('categoryid')?.invalid && form.get('categoryid')?.touched) {
                    <div class="text-danger">
                        @if ( form.get('categoryid')?.errors?.['required']) {
                        <p>*Dado obrigatório.</p>
                        }
                    </div>
                    }
                </div>

                <div class="form-group col-sm-7">
                    <label for="description">Descrição</label>
                    <input formControlName="description" type="text" class="form-control">
                </div>
            </div>
        </div>
    </div>


    @if(serverErrorMessages.length > 0){
    <div class="alert alert-danger mt-4">
        <strong>Falha no Servidor:</strong>
        <ul>
            @for (item of serverErrorMessages; track $index) {
            <li>{{item}}</li>
            }
        </ul>
    </div>
    }

    <button type="submit" [disabled]="!isDisableSubmit && !form.valid" (click)="submit()"
        class="btn btn-primary btn-lg float-right mt-3" style="float: right;">
        Salvar
    </button>

</form>